<div class="language-selector">
  <button 
    pButton 
    type="button" 
    class="language-icon-button p-button-rounded p-button-text" 
    (click)="toggleLanguageDialog()"
    [attr.aria-label]="'Change language' | translate">
    <span class="button-content">
      <i class="pi pi-globe"></i>
    </span>
  </button>

  <p-dialog 
    [(visible)]="showLanguageDialog" 
    [modal]="true" 
    [draggable]="false" 
    [resizable]="false"
    styleClass="language-dialog"
    [dismissableMask]="true"
    [closeOnEscape]="true"
    [header]="'Select Language' | translate">
    <div class="language-options">
      <div 
        *ngFor="let language of languages" 
        class="language-option" 
        (click)="onLanguageChange(language.code)">
        <img 
          [src]="'/assets/images/flags/' + language.code + '.svg'" 
          [alt]="language.name + ' flag'" 
          class="language-flag" />
        <span>{{ language.name }}</span>
      </div>
    </div>
  </p-dialog>
</div>
