:host ::ng-deep .p-autocomplete {
width: 100% ;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f9f9fb;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #f59e0b; /* Amber-500 color for the scrollbar thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d97706; /* Amber-600 color for hover state */
}