/* Visitor Form Group Styles */
.form-group {
  display: flex;
  flex-direction: column;
  justify-items: left;
  align-items: left;
  margin-bottom: 1.5rem;
  text-align: left;
}
.form-label {

  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #374151;
}
.p-input-icon-left {
  position: relative;
  display: flex;
  align-items: center;
}
.p-input-icon-left i {
  position: absolute;
  left: 0.75rem;
  color: #9ca3af;
}
.w-full {
  width: 100%;
}
