
<div class="bg-[#F9FAFB] p-4 rounded-md space-y-2">
    <div class="flex justify-between items-center text-sm">
      <span class="text-gray-600 text-sm">{{siteValue1.key}}</span>
      <span [class]="siteValue1.color" class="font-semibold text-[16px] ">{{ siteValue1.value }}</span>
    </div>
    <div class="flex justify-between items-center text-sm">
      <span class="text-gray-600 text-sm">{{siteValue2.key}}</span>
      <span  [class]="siteValue2.color" class="font-semibold text-[16px] ">{{ siteValue2.value }}</span>
    </div>
  </div>
