/* Adjust AvatarGroup spacing slightly if needed */
:host ::ng-deep  .p-avatar {
    margin-left: -0.55rem; /* Adjust overlap */
    
    border: 1px solid !important; 
    display: flex;
    align-items: center;
    justify-content: center;
    /* Match common stacked avatar style */
 }
 

 
 :host ::ng-deep  .p-avatar .p-avatar-text {
    font-family: inter !important;
    font-weight: 500;
   /* Adjust text size inside overflow avatar */
 }
 